# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

CV7/.ipynb_checkpoints/

CV7/tabulka.csv

CV1/.ipynb_checkpoints/

support_files/.ipynb_checkpoints/

CV1/cv_ulohy_ze_sbirky/.ipynb_checkpoints/

CV2/.ipynb_checkpoints/

tutorials/.ipynb_checkpoints/

.working/CV2/.cv2.autosave.xopp

CV3/.ipynb_checkpoints/

CV4/.ipynb_checkpoints/

CV5/.ipynb_checkpoints/

CV6/.ipynb_checkpoints/

*.xlsx#

CV8/.ipynb_checkpoints/

.working/CV8/.cv8.autosave.xopp

.working/P3_dodatek.lyx~

CV9/.ipynb_checkpoints/

CV10/.ipynb_checkpoints/

CV11/.ipynb_checkpoints/

.working/CV11/cv11.xopp~

CV12/.ipynb_checkpoints/

tmp/

.working/CV12/cv12.xopp~

.working/CV13/.cv13.autosave.xopp

CV13/.ipynb_checkpoints/
other/Rplot001.png
other/sol_1.ipynb
other/sol_2.ipynb
other/sol_3.ipynb
other/standard_dat_format/ukol_1.xlsx
other/standard_dat_format/ukol_2.xlsx
other/standard_dat_format/ukol_3.xlsx
other/standard_dat_format/ukol_4.xlsx
other/standard_dat_format/ukol_5.xlsx
other/standard_dat_format/ukol_6.xlsx
other/standard_dat_format/ukol_7.xlsx
other/standard_dat_format/ukol_8.xlsx
other/standard_dat_format/ukol_9.xlsx
other/standard_dat_format/ukol_10.xlsx
other/standard_dat_format/ukol_11.xlsx
other/standard_dat_format/ukol_12.xlsx
other/standard_dat_format/ukol_13.xlsx
other/standard_dat_format/ukol_14.xlsx
other/standard_dat_format/ukol_15.xlsx
other/standard_dat_format/ukol_16.xlsx
other/standard_dat_format/ukol_17.xlsx
other/standard_dat_format/ukol_18.xlsx
other/standard_dat_format/ukol_19.xlsx
other/standard_dat_format/ukol_20.xlsx
other/standard_dat_format/ukol_21.xlsx
other/standard_dat_format/ukol_22.xlsx
other/standard_dat_format/ukol_23.xlsx
other/standard_dat_format/ukol_24.xlsx
other/standard_dat_format/ukol_25.xlsx
other/standard_dat_format/ukol_26.xlsx
other/standard_dat_format/ukol_27.xlsx
other/standard_dat_format/ukol_28.xlsx
other/standard_dat_format/ukol_29.xlsx
other/standard_dat_format/ukol_30.xlsx
other/standard_dat_format/ukol_31.xlsx
other/standard_dat_format/ukol_32.xlsx
other/standard_dat_format/ukol_33.xlsx
other/standard_dat_format/ukol_34.xlsx
other/standard_dat_format/ukol_35.xlsx
other/standard_dat_format/ukol_36.xlsx
other/standard_dat_format/ukol_37.xlsx
other/standard_dat_format/ukol_38.xlsx
other/standard_dat_format/ukol_39.xlsx
other/standard_dat_format/ukol_40.xlsx
other/standard_dat_format/ukol_41.xlsx
other/standard_dat_format/ukol_42.xlsx
other/standard_dat_format/ukol_43.xlsx
other/standard_dat_format/ukol_44.xlsx
other/standard_dat_format/ukol_45.xlsx
other/standard_dat_format/ukol_46.xlsx
other/standard_dat_format/ukol_47.xlsx
other/standard_dat_format/ukol_48.xlsx
other/standard_dat_format/ukol_49.xlsx
other/standard_dat_format/ukol_50.xlsx
other/standard_dat_format/ukol_51.xlsx
other/standard_dat_format/ukol_52.xlsx
other/standard_dat_format/ukol_53.xlsx
other/standard_dat_format/ukol_54.xlsx
other/standard_dat_format/ukol_55.xlsx
other/standard_dat_format/ukol_56.xlsx
other/standard_dat_format/ukol_57.xlsx
other/standard_dat_format/ukol_58.xlsx
other/standard_dat_format/ukol_59.xlsx
other/standard_dat_format/ukol_60.xlsx
other/standard_dat_format/ukol_61.xlsx
other/standard_dat_format/ukol_62.xlsx
other/standard_dat_format/ukol_63.xlsx
other/standard_dat_format/ukol_64.xlsx
other/standard_dat_format/ukol_65.xlsx
other/standard_dat_format/ukol_66.xlsx
other/standard_dat_format/ukol_67.xlsx
other/standard_dat_format/ukol_68.xlsx
other/standard_dat_format/ukol_69.xlsx
other/standard_dat_format/ukol_70.xlsx
other/standard_dat_format/ukol_71.xlsx
other/standard_dat_format/ukol_72.xlsx
other/standard_dat_format/ukol_73.xlsx
other/standard_dat_format/ukol_74.xlsx
other/standard_dat_format/ukol_75.xlsx
other/standard_dat_format/ukol_76.xlsx
other/standard_dat_format/ukol_77.xlsx
other/standard_dat_format/ukol_78.xlsx
other/standard_dat_format/ukol_79.xlsx
other/standard_dat_format/ukol_80.xlsx
other/standard_dat_format/ukol_81.xlsx
other/standard_dat_format/ukol_82.xlsx
other/standard_dat_format/ukol_83.xlsx
other/standard_dat_format/ukol_84.xlsx
other/standard_dat_format/ukol_85.xlsx
other/standard_dat_format/ukol_86.xlsx
other/standard_dat_format/ukol_87.xlsx
other/standard_dat_format/ukol_88.xlsx
other/standard_dat_format/ukol_89.xlsx
other/standard_dat_format/ukol_90.xlsx
other/standard_dat_format/ukol_91.xlsx
other/standard_dat_format/ukol_92.xlsx
other/standard_dat_format/ukol_93.xlsx
other/standard_dat_format/ukol_94.xlsx
other/standard_dat_format/ukol_95.xlsx
other/standard_dat_format/ukol_96.xlsx
other/standard_dat_format/ukol_97.xlsx
other/standard_dat_format/ukol_98.xlsx
other/standard_dat_format/ukol_99.xlsx
other/standard_dat_format/ukol_100.xlsx
other/standard_dat_format/ukol_101.xlsx
other/standard_dat_format/ukol_102.xlsx
other/standard_dat_format/ukol_103.xlsx
other/standard_dat_format/ukol_104.xlsx
other/standard_dat_format/ukol_105.xlsx
other/standard_dat_format/ukol_106.xlsx
other/standard_dat_format/ukol_107.xlsx
other/standard_dat_format/ukol_108.xlsx
other/standard_dat_format/ukol_109.xlsx
other/standard_dat_format/ukol_110.xlsx
other/standard_dat_format/ukol_111.xlsx
other/standard_dat_format/ukol_112.xlsx
other/standard_dat_format/ukol_113.xlsx
other/standard_dat_format/ukol_114.xlsx
other/standard_dat_format/ukol_115.xlsx
other/standard_dat_format/ukol_116.xlsx
other/standard_dat_format/ukol_117.xlsx
other/standard_dat_format/ukol_118.xlsx
other/standard_dat_format/ukol_119.xlsx
other/standard_dat_format/ukol_120.xlsx
other/standard_dat_format/ukol_121.xlsx
other/standard_dat_format/ukol_122.xlsx
other/standard_dat_format/ukol_123.xlsx
other/standard_dat_format/ukol_124.xlsx
other/standard_dat_format/ukol_125.xlsx
other/standard_dat_format/ukol_126.xlsx
other/standard_dat_format/ukol_127.xlsx
other/standard_dat_format/ukol_128.xlsx
other/standard_dat_format/ukol_129.xlsx
other/standard_dat_format/ukol_130.xlsx
other/standard_dat_format/ukol_131.xlsx
other/standard_dat_format/ukol_132.xlsx
other/standard_dat_format/ukol_133.xlsx
other/standard_dat_format/ukol_134.xlsx
other/standard_dat_format/ukol_135.xlsx
other/standard_dat_format/ukol_136.xlsx
other/standard_dat_format/ukol_137.xlsx
other/standard_dat_format/ukol_138.xlsx
other/standard_dat_format/ukol_139.xlsx
other/standard_dat_format/ukol_140.xlsx
other/standard_dat_format/ukol_141.xlsx
other/standard_dat_format/ukol_142.xlsx
other/standard_dat_format/ukol_143.xlsx
other/standard_dat_format/ukol_144.xlsx
other/standard_dat_format/ukol_145.xlsx
other/standard_dat_format/ukol_146.xlsx
other/standard_dat_format/ukol_147.xlsx
other/standard_dat_format/ukol_148.xlsx
other/standard_dat_format/ukol_149.xlsx
other/standard_dat_format/ukol_150.xlsx
other/standard_dat_format/ukol_151.xlsx
other/standard_dat_format/ukol_152.xlsx
other/standard_dat_format/ukol_153.xlsx
other/standard_dat_format/ukol_154.xlsx
other/standard_dat_format/ukol_155.xlsx
other/standard_dat_format/ukol_156.xlsx
other/standard_dat_format/ukol_157.xlsx
other/standard_dat_format/ukol_158.xlsx
other/standard_dat_format/ukol_159.xlsx
other/standard_dat_format/ukol_160.xlsx
other/standard_dat_format/ukol_161.xlsx
other/standard_dat_format/ukol_162.xlsx
other/standard_dat_format/ukol_163.xlsx
other/standard_dat_format/ukol_164.xlsx
other/standard_dat_format/ukol_165.xlsx
other/standard_dat_format/ukol_166.xlsx
other/standard_dat_format/ukol_167.xlsx
other/standard_dat_format/ukol_168.xlsx
other/standard_dat_format/ukol_169.xlsx
other/standard_dat_format/ukol_170.xlsx
other/standard_dat_format/ukol_171.xlsx
other/standard_dat_format/ukol_172.xlsx
other/standard_dat_format/ukol_173.xlsx
other/standard_dat_format/ukol_174.xlsx
other/standard_dat_format/ukol_175.xlsx
other/standard_dat_format/ukol_176.xlsx
other/standard_dat_format/ukol_177.xlsx
other/standard_dat_format/ukol_178.xlsx
other/standard_dat_format/ukol_179.xlsx
other/standard_dat_format/ukol_180.xlsx
other/standard_dat_format/ukol_181.xlsx
other/standard_dat_format/ukol_182.xlsx
other/standard_dat_format/ukol_183.xlsx
other/standard_dat_format/ukol_184.xlsx
other/standard_dat_format/ukol_185.xlsx
other/standard_dat_format/ukol_186.xlsx
other/standard_dat_format/ukol_187.xlsx
other/standard_dat_format/ukol_188.xlsx
other/standard_dat_format/ukol_189.xlsx
other/standard_dat_format/ukol_190.xlsx
other/standard_dat_format/ukol_191.xlsx
other/standard_dat_format/ukol_192.xlsx
other/standard_dat_format/ukol_193.xlsx
other/standard_dat_format/ukol_194.xlsx
other/standard_dat_format/ukol_195.xlsx
other/standard_dat_format/ukol_196.xlsx
other/standard_dat_format/ukol_197.xlsx
other/standard_dat_format/ukol_198.xlsx
other/standard_dat_format/ukol_199.xlsx
other/standard_dat_format/ukol_200.xlsx
other/standard_dat_format/ukol_201.xlsx
other/standard_dat_format/ukol_202.xlsx
other/standard_dat_format/ukol_203.xlsx
other/standard_dat_format/ukol_204.xlsx
other/standard_dat_format/ukol_205.xlsx
other/standard_dat_format/ukol_206.xlsx
other/standard_dat_format/ukol_207.xlsx
other/standard_dat_format/ukol_208.xlsx
other/standard_dat_format/ukol_209.xlsx
other/standard_dat_format/ukol_210.xlsx
other/standard_dat_format/ukol_211.xlsx
other/standard_dat_format/ukol_212.xlsx
other/standard_dat_format/ukol_213.xlsx
other/standard_dat_format/ukol_214.xlsx
other/standard_dat_format/ukol_215.xlsx
other/standard_dat_format/ukol_216.xlsx
other/standard_dat_format/ukol_217.xlsx
other/standard_dat_format/ukol_218.xlsx
other/standard_dat_format/ukol_219.xlsx
other/standard_dat_format/ukol_220.xlsx
other/standard_dat_format/ukol_221.xlsx
other/standard_dat_format/ukol_222.xlsx
other/standard_dat_format/ukol_223.xlsx
other/standard_dat_format/ukol_224.xlsx
other/standard_dat_format/ukol_225.xlsx
other/standard_dat_format/ukol_226.xlsx
other/standard_dat_format/ukol_227.xlsx
other/standard_dat_format/ukol_228.xlsx
other/standard_dat_format/ukol_229.xlsx
other/standard_dat_format/ukol_230.xlsx
other/standard_dat_format/ukol_231.xlsx
other/standard_dat_format/ukol_232.xlsx
other/standard_dat_format/ukol_233.xlsx
other/standard_dat_format/ukol_234.xlsx
other/standard_dat_format/ukol_235.xlsx
other/standard_dat_format/ukol_236.xlsx
other/standard_dat_format/ukol_237.xlsx
other/standard_dat_format/ukol_238.xlsx
other/standard_dat_format/ukol_239.xlsx
other/standard_dat_format/ukol_240.xlsx
other/standard_dat_format/ukol_241.xlsx
other/standard_dat_format/ukol_242.xlsx
other/standard_dat_format/ukol_243.xlsx
other/standard_dat_format/ukol_244.xlsx
other/standard_dat_format/ukol_245.xlsx
other/standard_dat_format/ukol_246.xlsx
other/standard_dat_format/ukol_247.xlsx
other/standard_dat_format/ukol_248.xlsx
other/standard_dat_format/ukol_249.xlsx
other/standard_dat_format/ukol_250.xlsx
other/standard_dat_format/ukol_251.xlsx
other/standard_dat_format/ukol_252.xlsx
other/standard_dat_format/ukol_253.xlsx
other/standard_dat_format/ukol_254.xlsx
other/standard_dat_format/ukol_255.xlsx
other/standard_dat_format/ukol_256.xlsx
other/standard_dat_format/ukol_257.xlsx
other/standard_dat_format/ukol_258.xlsx
other/standard_dat_format/ukol_259.xlsx
other/standard_dat_format/ukol_260.xlsx
other/standard_dat_format/ukol_261.xlsx
other/standard_dat_format/ukol_262.xlsx
other/standard_dat_format/ukol_263.xlsx
other/standard_dat_format/ukol_264.xlsx
other/standard_dat_format/ukol_265.xlsx
other/standard_dat_format/ukol_266.xlsx
other/standard_dat_format/ukol_267.xlsx
other/standard_dat_format/ukol_268.xlsx
other/standard_dat_format/ukol_269.xlsx
other/standard_dat_format/ukol_270.xlsx
other/standard_dat_format/ukol_271.xlsx
other/standard_dat_format/ukol_272.xlsx
other/standard_dat_format/ukol_273.xlsx
other/standard_dat_format/ukol_274.xlsx
other/standard_dat_format/ukol_275.xlsx
other/standard_dat_format/ukol_276.xlsx
other/standard_dat_format/ukol_277.xlsx
other/standard_dat_format/ukol_278.xlsx
other/standard_dat_format/ukol_279.xlsx
other/standard_dat_format/ukol_280.xlsx
other/standard_dat_format/ukol_281.xlsx
other/standard_dat_format/ukol_282.xlsx
other/standard_dat_format/ukol_283.xlsx
other/standard_dat_format/ukol_284.xlsx
other/standard_dat_format/ukol_285.xlsx
other/standard_dat_format/ukol_286.xlsx
other/standard_dat_format/ukol_287.xlsx
other/standard_dat_format/ukol_288.xlsx
other/standard_dat_format/ukol_289.xlsx
other/standard_dat_format/ukol_290.xlsx
other/standard_dat_format/ukol_291.xlsx
other/standard_dat_format/ukol_292.xlsx
other/standard_dat_format/ukol_293.xlsx
other/standard_dat_format/ukol_294.xlsx
other/standard_dat_format/ukol_295.xlsx
other/standard_dat_format/ukol_296.xlsx
other/standard_dat_format/ukol_297.xlsx
other/standard_dat_format/ukol_298.xlsx
other/standard_dat_format/ukol_299.xlsx
other/standard_dat_format/ukol_300.xlsx
zkouska_ukazka/test.ipynb
