@{
	ViewData["Title"] = "Úspěch";
}

<nav class="flex flex-row items-center justify-center gap-4 font-ubuntu">
    <a href="/"
       class="text-xl font-medium after:block after:origin-bottom-left after:scale-x-0 after:border-b-4 after:border-b-text after:transition-all after:hover:scale-x-100">
        <i class="bi bi-house-fill"></i> Domů
    </a>
    <a href="/form"
       class="text-xl font-medium after:block after:origin-bottom-left after:scale-x-0 after:border-b-4 after:border-b-text after:transition-all after:hover:scale-x-100">
        <i class="bi bi-clipboard-fill"></i> Formulář
    </a>
</nav>

<div class="my-auto flex flex-col gap-4">
    <h1 class="breath text-center font-jaini text-6xl font-bold">Formulář byl úspěšně odeslán</h1>

    <a href="/" class="mx-auto">
        <button class="mx-auto scale-100 rounded-md bg-primary px-4 py-2 font-ubuntu text-xl font-bold text-white transition-all duration-300 hover:scale-105 active:translate-y-1">
            Zpátky domů
        </button>
    </a>
</div>