[submodule "Semester6/VAJ/2025s-lab-01-patrick11514"]
	path = Semester6/VAJ/2025s-lab-01-patrick11514
	url = git@github.com:vsb-vaj/2025s-lab-01-patrick11514.git
[submodule "Semester6/VAJ/2025s-lab-02-patrick11514"]
	path = Semester6/VAJ/2025s-lab-02-patrick11514
	url = git@github.com:vsb-vaj/2025s-lab-02-patrick11514.git
[submodule "Semester6/VAJ/2025s-lab-03-patrick11514"]
	path = Semester6/VAJ/2025s-lab-03-patrick11514
	url = git@github.com:vsb-vaj/2025s-lab-03-patrick11514.git
[submodule "Semester6/VAJ/2025s-lab-04-patrick11514"]
	path = Semester6/VAJ/2025s-lab-04-patrick11514
	url = git@github.com:vsb-vaj/2025s-lab-04-patrick11514.git
[submodule "Semester6/VAJ/2025s-lab-05-patrick11514"]
	path = Semester6/VAJ/2025s-lab-05-patrick11514
	url = git@github.com:vsb-vaj/2025s-lab-05-patrick11514.git
[submodule "Semester6/VAJ/2025s-lab-06-patrick11514"]
	path = Semester6/VAJ/2025s-lab-06-patrick11514
	url = git@github.com:vsb-vaj/2025s-lab-06-patrick11514.git
[submodule "Semester6/VAJ/2025s-project-vaj0058-min0150"]
	path = Semester6/VAJ/2025s-project-vaj0058-min0150
	url = git@github.com:vsb-vaj/2025s-project-vaj0058-min0150.git
[submodule "Semester6/VAJ/2025s-lab-07-patrick11514"]
	path = Semester6/VAJ/2025s-lab-07-patrick11514
	url = git@github.com:vsb-vaj/2025s-lab-07-patrick11514.git
