{% extends "AnimeFigures/base.html" %} 

{% block head %}
<title>{{ figure.name }} | Anime Figurky</title>
{% endblock %}

{% block body %} 
<section class="flex flex-col flex-1 m-auto w-[80%] min-w-72 bg-secondary text-white p-8 rounded-lg">
    <h1 class="text-3xl font-bold font-poppins flex flex-row">Přehled figurky {{figure.name}} 
        {% if logged %}
            <a href="{% url 'like' figure.pk %}"><i class="bi bi-star-fill {% if liked %} text-yellow-400  {% endif %}"></i></a>
            <a class="ml-auto" href="{% url 'delete_figure' figure.pk %}"><i class="bi bi-trash text-red-500"></i></a>
        {% endif %}
    </h1>
    <h2 class="text-xl font-bold">Přidána dne {{ figure.getDate }} ({{ figure.getDiff }} zpět) uživatelem 
        {% if figure.added_by.name %} 
            <a class="text-primary" href="{% url 'user' figure.added_by.pk %}">{{ figure.added_by.name }}</a> 
        {% else %} 
            Anonym 
        {% endif %}
    </h2>
    <main class="flex flex-col my-4">
        <h1 class="text-2xl font-bold font-poppins">Obrázky ({{ pictures.count }}): <a href="{% url 'add_image' figure.pk %}"><button class="bg-primary font-roboto text-xl px-2 py-1 rounded-lg border-black border-2 hover:bg-accent transition-colors duration-200">Přidat obrázek</button></a></h1>
        {% if pictures.count == 0 %}
            <h4 class="text-red-500 font-bold">Tato figurka nemá žádné obrázky</h4>
        {% else %}
            <div class="flex flex-row flex-wrap items-stretch gap-4">
                {% for image in pictures %}
                <div class="flex flex-col">
                    <a class="my-auto" href="{{ image.url }}" target="_blank">
                        <img class="max-w-[150px] h-auto" src="{{ image.url }}" alt="figure image" />
                    </a>
                    {% if logged %}
                        <a href="{% url 'delete_image' figure.pk image.pk %}"><i class="bi bi-trash text-red-500 relative top-0 cursor-pointer"></i></a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <h1 class="text-2xl font-bold font-poppins">Základní informace:</h1>
        <table class="border-black border-2 w-max">
            <tbody>
                <tr>
                    <td class="border-black border-2 font-bold">Název:</td>
                    <td class="border-black border-2">{{ figure.name }}</td>
                </tr>
                <tr>
                    <td class="border-black border-2 font-bold">Anime:</td>
                    <td class="border-black border-2">{{ figure.anime }}</td>
                </tr>
                <tr>
                    <td class="border-black border-2 font-bold">Velikost:</td>
                    <td class="border-black border-2">{{ figure.size }}cm</td>
                </tr>
                <tr>
                    <td class="border-black border-2 font-bold">Váha:</td>
                    <td class="border-black border-2">{{ figure.weight }}g</td>
                </tr>
                <tr>
                    <td class="border-black border-2 font-bold">Cena:</td>
                    <td class="border-black border-2">{{ figure.price }}CZK</td>
                </tr>
                <tr>
                    <td class="border-black border-2 font-bold">Rok vydání:</td>
                    <td class="border-black border-2">{{ figure.year }}</td>
                </tr>
                <tr>
                    <td class="border-black border-2 font-bold">Firma:</td>
                    <td class="border-black border-2">{{ figure.manufacturer.name }}</td>
                </tr>
            </tbody>
        </table>
    </main>
    <div class="flex flex-col gap-2">
        <h1 class="text-2xl font-bold">Komentáře ({{ comments.count }}):</h1>
        {% if logged %}
            <form id="comment" action="{% url 'figure_add_comment' user.pk %}" method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="bg-primary hover:bg-accent m-4 w-[50%] mx-auto font-bold text-xl px-2 py-1 rounded-lg font-roboto transition-all duration-200 active:translate-y-1">Odeslat komentář</button>
            </form>
        {% endif %}

        {% if comments.count == 0%}
            <h4 class="text-red-500 font-bold">Tento uživatel nemá žádné komentáře pod profilem</h4>
        {% else %}
            {% if sortType == "desc" %}
                <a href="{% url 'user' user.pk %}?sort=asc"><button class="bg-primary font-roboto text-xl px-2 py-1 rounded-lg border-black border-2 hover:bg-accent transition-colors duration-200">Seřadit od nejnovějšího</button></a>
            {% else %}
                <a href="{% url 'user' user.pk %}?sort=desc"><button class="bg-primary font-roboto text-xl px-2 py-1 rounded-lg border-black border-2 hover:bg-accent transition-colors duration-200">Seřadit od nejstaršího</button></a>
            {% endif %}
        {% endif %}
        <div class="flex flex-col gap-4">
            
            {% for comment in comments %}
                <div class="flex flex-col border-primary border-2 p-2 rounded-md w-[50%] min-w-56">
                    <h2 class="text-xl font-bold">{{ comment.user.name }}</h2>
                    <h3>Dne {{ comment.getDate }} ({{ comment.getDiff }} zpět)</h3>
                    <hr />
                    <p class="text-lg">{{ comment.comment }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
