{% extends "AnimeFigures/base.html" %} 
{% load filters %}

{% block head %}
<title>{{ user.name }} | Anime Figurky</title>
{% endblock %}

{% block body %} 
<section class="flex flex-col flex-1 m-auto w-[80%] min-w-72 bg-secondary text-white p-8 rounded-lg">
    <h1 class="text-3xl font-bold font-poppins flex flex-row">
        Profil uživatele {{user.name}}
        {% if logged and user.pk == user_id %}
            <a class="ml-auto" href="{% url 'settings' %}"><i class="bi bi-gear text-gray-600"></i></a>
        {% endif %}
    </h1>
    <h2 class="text-xl font-bold">Připojil se {{ user.getDate }} ({{ user.getDiff }} zpět)</h2>
    {% if logged and user.pk == user_id %}
        <h3 class="text-lg font-bold">Email: {{ email }}</h3>
    {% endif %}
    <main class="flex flex-col my-4">
        <h1 class="text-2xl font-bold font-poppins">Oblíbené figurky ({{ liked_figures.count }}): </h1>
        {% if liked_figures.count == 0 %}
            <h4 class="text-red-500 font-bold">Tento uživatel nemá žádné oblíbené figurky</h4>
        {% endif %}
        <div class="flex flex-row flex-wrap gap-4 items-stretch">
            {% for like in liked_figures %} 
                {% if images|hash:like.figure.pk %}
                    <a class="p-1 border-white border-2 rounded-md" href="{% url 'figure' like.figure.pk %}"><img class="max-w-[80px] h-auto" src="{{ images|hash:like.figure.pk }}" alt="figure image" /></a>
                {% else %}
                    <a class="p-1 border-white border-2 rounded-md text-xl font-bold flex" href="{% url 'figure' like.figure.pk %}"><span class="my-auto">{{ like.figure.name }}</span></a>
                {% endif%}
            {% endfor %}
        </div>
    </main>
    <div class="flex flex-col gap-2">
        <h1 class="text-2xl font-bold">Komentáře ({{ comments.count }}):</h1>
        {% if logged %}
            <form id="comment" action="{% url 'user_add_comment' user.pk %}" method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="bg-primary hover:bg-accent m-4 w-[50%] mx-auto font-bold text-xl px-2 py-1 rounded-lg font-roboto transition-all duration-200 active:translate-y-1">Odeslat komentář</button>
            </form>
        {% endif %}

        {% if comments.count == 0%}
            <h4 class="text-red-500 font-bold">Tento uživatel nemá žádné komentáře pod profilem</h4>
        {% else %}
            {% if sortType == "desc" %}
                <a href="{% url 'user' user.pk %}?sort=asc"><button class="bg-primary font-roboto text-xl px-2 py-1 rounded-lg border-black border-2 hover:bg-accent transition-colors duration-200">Seřadit od nejnovějšího</button></a>
            {% else %}
                <a href="{% url 'user' user.pk %}?sort=desc"><button class="bg-primary font-roboto text-xl px-2 py-1 rounded-lg border-black border-2 hover:bg-accent transition-colors duration-200">Seřadit od nejstaršího</button></a>
            {% endif %}
        {% endif %}
        <div class="flex flex-col gap-4">
            
            {% for comment in comments %}
                <div class="flex flex-col border-primary border-2 p-2 rounded-md w-[50%] min-w-56">
                    <h2 class="text-xl font-bold">{{ comment.user.name }}</h2>
                    <h3>Dne {{ comment.getDate }} ({{ comment.getDiff }} zpět)</h3>
                    <hr />
                    <p class="text-lg">{{ comment.comment }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
