{% extends "AnimeFigures/base.html" %} 

{% block head %}
<title>{{ user.name }} | Anime Figurky</title>
{% endblock %}

{% block body %} 
<section class="flex flex-col flex-1 m-auto w-[80%] min-w-72 bg-secondary text-white p-8 rounded-lg">
    <h1 class="text-3xl font-bold font-poppins">Profil uživatele {{user.name}}</h1>
    <h2 class="text-xl font-bold">Připojil se {{ user.getDate }} ({{ user.getDiff }} zpět)</h2>
    <main class="flex flex-col my-4">
        <h1 class="text-2xl font-bold font-poppins">Oblíbené figurky ({{ liked_figures.count }}): </h1>
        {% for like in liked_figures %} 
            {{ like.figure.name }}
            {{ like.user.added }}
        {% endfor %}
    </main>
</section>
{% endblock %}
