{% extends "AnimeFigures/base.html" %} 
{% load filters %}

{% block head %}
<title>{{ user.name }} | Anime Figurky</title>
{% endblock %}

{% block body %} 
<section class="flex flex-col flex-1 m-auto w-[80%] min-w-72 bg-secondary text-white p-8 rounded-lg">
    <h1 class="text-3xl font-bold font-poppins">Profil uživatele {{user.name}}</h1>
    <h2 class="text-xl font-bold">Připojil se {{ user.getDate }} ({{ user.getDiff }} zpět)</h2>
    <main class="flex flex-col my-4">
        <h1 class="text-2xl font-bold font-poppins">Oblíbené figurky ({{ liked_figures.count }}): </h1>
        {% if liked_figures.count == 0 %}
            <h4 class="text-red-500 font-bold">Tento uživatel nemá žádné oblíbené figurky</h4>
        {% endif %}
        <div class="flex flex-row flex-wrap gap-4 items-stretch">
            {% for like in liked_figures %} 
                {% if images|hash:like.figure.pk %}
                    <a class="p-1 border-white border-2 rounded-md" href="{% url 'figure' like.figure.pk %}"><img class="max-w-[80px] h-auto" src="{{ images|hash:like.figure.pk }}" alt="figure image" /></a>
                {% else %}
                    <a class="p-1 border-white border-2 rounded-md text-xl font-bold flex" href="{% url 'figure' like.figure.pk %}"><span class="my-auto">{{ like.figure.name }}</span></a>
                {% endif%}
            {% endfor %}
        </div>
    </main>
    <div class="flex flex-col">
        <h1>Komentáře</h1>
    </div>
</section>
{% endblock %}
