@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'UniversalSans';
    src: url('/assets/fonts/Universal-Sans-Text-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniversalSans';
    src: url('/assets/fonts/Universal-Sans-Text-Medium.woff2') format('woff2');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'UniversalSans';
    src: url('/assets/fonts/Universal-Sans-Text-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

button {
    @apply w-full cursor-pointer rounded-md bg-white px-8 py-3 text-sm text-text sm:w-auto sm:px-16 lg:px-20;
}

button.cyber {
    @apply rounded-none border-[1px] border-gray-800 bg-cyber-bg font-bold uppercase text-cyber-text opacity-90 backdrop-blur-md transition-all duration-200 hover:bg-opacity-80 active:border-white active:bg-opacity-20 active:text-white;

    &:first-child {
        @apply mt-auto h-[90%] border-none before:absolute before:-top-1.5 before:left-0 before:block before:w-full before:border-t-[3px] before:border-gray-400 active:before:border-white;
    }
}

.nav div {
    @apply cursor-pointer rounded-md p-2;
    &:hover,
    &.hover {
        @apply bg-black-tansparent backdrop-blur;
    }
}

.icons i {
    @apply cursor-pointer rounded-sm px-1 transition-all duration-300 hover:bg-black-tansparent hover:backdrop-blur;
}

article a {
    @apply font-bold underline;
}

#navContent:not(.invisible) > div > div:first-child > div {
    @apply translate-y-0;
    opacity: 100;
}

#navContent > div > div:first-child > div {
    --bezier: cubic-bezier(0.5, 0, 0, 0.75);

    opacity: 0;
    transition:
        transform 0.5s,
        opacity 0.5s var(--bezier),
        -webkit-transform 0.5s var(--bezier);
    transition-delay: var(--animation-offset);

    @apply -translate-y-3 cursor-pointer;
}

#navContent {
    padding-top: calc(60px + 2rem);

    & > div {
        transition: opacity 0.3s;
        transition-delay: 0.2s;
        @apply absolute flex w-full justify-center;

        a {
            @apply w-max text-sm shadow-list-empty transition-all duration-500 hover:shadow-list;
        }

        & > div:first-child a {
            @apply text-[rgb(70,80,99)] hover:text-text;
        }

        & > div:last-child a {
            @apply hover:text-[rgb(70,80,99)];
        }
    }
}

#mobileNav > div,
#mobileNav > a {
    @apply w-full cursor-pointer rounded-md px-2 py-4 text-lg transition-colors duration-300 hover:bg-gray-500 hover:bg-opacity-10 sm:w-max;
}

main#login {
    label {
        @apply mb-1 text-sm text-text-gray;
    }

    input {
        @apply mb-8 min-w-72 rounded-md border-[1px] border-transparent bg-background px-4 py-2 text-sm font-bold text-text-gray outline-none transition-colors duration-300 focus:border-gray-300;
        &:invalid {
            @apply border-[1px] border-red-500;
        }
    }

    button {
        @apply rounded-md py-2 transition-colors duration-200;
    }

    & > section {
        @apply absolute left-1/2 -translate-x-1/2;
    }
}

main#account {
    & > :first-child > div.active {
        @apply text-text;
        i {
            @apply bg-gray-200;
        }
    }
}

/* On some sites we want to foce nav to be dark */
.force-nav-dark *.text-white {
    @apply !text-text;
}
